.jumbotron {
    background-image: url("../images/pizza.png");
    height: 346px;
    background-size: cover;
    position: relative;

}

.jumbotron h1 {
    text-align: center;
    position: absolute;
    top: 157px;
    width: 100%;
}

