:root {
    --success-color: #3c763d;
    --success-background-color: #dff0d8;
    --success-border-color: #d6e9c6;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border-radius: 5px;
    border: 1px solid;
    margin: 4px;
    height: 24px;
    padding: 4px 0 0 2px;
    vertical-align: bottom;
}

.message.message-success {
    background-color: var(--success-background-color);
    border-color: var(--success-border-color);
    color: var(--success-color);
}

.message.message-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.message.message-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.message.message-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.testclass {
    color: rgba(55, 55, 55, .2);
}

.testclass2 {
    color: rgba(55, 55, 55, .4);
}

.testclass3 {
    color: rgba(55, 55, 55, .6);
}
