/*
    css comments
 */

.overline {
    text-decoration: overline;
}

.underline {
    text-decoration: underline;
}

h1 {
    color: red;
}

.title {
    color: steelblue;
    text-decoration: line-through;
}

