/*
    css comments
 */

* {
    border: 1px solid red;
    font-style: italic;
}

html {
    font-family: 'Fjalla One', sans-serif;
    /*font-family: 'Rubik', sans-serif;*/
}

/** {*/
/*    @font-face {*/
/*        font-family: NewRodin;*/
/*        src: url("../media/FOT-NewRodin Pro M.otf");*/
/*        font-weight: normal;*/
/*        font-style: normal;*/
/*    }*/
/*}*/

html {
    background-image: url("../images/background.jpeg");
    background-attachment: fixed;
}

.overline {
    text-decoration: overline;
}

.underline {
    text-decoration: underline;
}

h1 {
    color: red;
}

.classname {
    color: blue;
}

#special {
    color: green;
}

h2, h3, h4, h5, h6 {
    color: blue;
}

.title {
    color: steelblue;
    text-decoration: line-through;
}

/*// @todo var in css*/
/*body {*/
/*    font: 1rem/1.5 var(--bs-font-sans-serif);*/
/*}*/

/*// @todo var in css*/
/*a {*/
/*    color: var(--bs-blue);*/
/*}*/

/*direct chiild selector*/
.section > ul {
    background-color: blue;
}

/*pseudo class*/
a {
    transition: .5s;
}

a:active {
    text-decoration: overline;
}

a:hover {
    font-size: 26px;
    text-decoration: overline red;
}

a:link {
    font-size: 12px;
}

