:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --border-color: #ced4da;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 50dvh;
  overflow-y: scroll;
}