/** {*/
/*    border: 2px solid red;*/
/*}*/

/** {*/
/*    font-family: 'Courier New', Courier, monospace;*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Kumar+One');

html {
    margin: 5px 10px 15px 20px;
    padding: 5px 10px 15px 20px;
    background-image: url("../images/background.jpeg");
    border: 2px solid gold;
}

body {
    background-color: #abc;
    padding: 5px 10px 15px 20px;
    border-top: 5px solid red;
    border-right: 10px solid blue;
    border-bottom: 15px solid green;
    border-left: 20px solid cyan;

}

.fancy-header {
    font-family: "Kumar One", serif;
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

.row {
    display: inline-block;
}

.top-left img {
    width: 300px;
    height: 200px;
    /*border: 1px solid red;*/
}

.top-right img {
    width: 300px;
    height: 200px;
    /*border: 1px solid yellow;*/
}

.bottom-left img {
    width: 300px;
    height: 160px;
    /*border: 1px solid green;*/
}

.bottom-right img {
    width: 300px;
    height: 200px;
    /*border: 1px solid blue;*/
}

.guarantee {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: cyan;
    text-decoration: underline;
}


/*ul {*/
/*    !*list-style-type: circle;*!*/
/*    list-style-image: url('../images/git.png');*/

/*}*/

li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 10px;
    border: 1px solid gold;
    background-image: url('../images/git.png');
    /*background-size: cover;*/
    background-size: contain
}

table, td, tr {
    padding: 5px;
    margin: 5px;
    font-size: 8px;
    color: blue;
}

img {
    opacity: .5;
    border: 2px solid transparent;
}

img:hover {
    opacity: 1;
    border: 2px solid red;
}


/* Default link styles */
a:link {
    color: #007bff;
    /* Change the link color */
    /*text-decoration: none;*/
    /* Remove underline */
    text-decoration: overline;
}

/* Visited link styles */
a:visited {
    color: black;
    /* Change the visited link color */
}

/* Hover link styles */
a:hover {
    color: green;
    /* Change the link color on hover */
    text-decoration: underline;
    /* Underline on hover */
}

/* Active link styles (when clicked) */
a:active {
    color: red;
    /* Change the link color when active */
}
