header {
    min-height: 15vh;
    background-color: #00ABA9;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    justify-content: space-around;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-cambo {
    font-family: 'Cambo', serif;
}

#view-container {
    overflow-y: auto;
}

#content {
    overflow-y: auto;
    border-bottom: 2px solid #00ABA9;
}

#forecast-items {
    height: 70dvh;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

#liveImage {
    height: 400px;
}