header {
    min-height: 15vh;
    background-color: #00ABA9;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    justify-content: space-around;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-cambo {
    font-family: 'Cambo', serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

#content {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

canvas {
    color: black;

}


